
.btt{
    color: white;
    background: blue;
    padding: 10px 30px 10px 30px;
    border: none;
    font-size: 25px;
    border-radius: 30px;
}
* input[type="text"],input[type="password"]{
    width:150px;
    border:none;
    text-align: center;
    padding: 5px;
    color:blue;

    border-bottom: 2px solid green;
    outline: none;
}
body{
    background: url(bg.jpg);
    text-align: center;
}
.formm{
    width:300px;
    margin-left: 520px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 60px;
    background: white;
    padding: 10px;
    font-size: 25px;
    font-family: sans-serif;
    border-radius: 30px;
    height: 500px;
}

